/*SERVICES*/
.services {
    padding: 30px 182px 76px;
    background: #fb7171;

    .item{
        width: 33.33%;
        text-align: center;
    }

    .row {
        margin-bottom: 54px;

        &:last-child {
            margin-bottom: 0;
        }

        img{
            margin: 0 auto 15px;
         }
    }

    @media(min-width:0) and (max-width:950px){

    .services{
        padding:20px 15px 40px;
    }

    .row{
        margin-bottom: 0;
        flex-wrap: wrap;
        text-align: center;
    }

    .item{
        width: 100%;  
        margin-bottom: 30px;
    }
  }
}






